<!--<div class="container">-->
<!--  &lt;!&ndash; Grid row &ndash;&gt;-->
<!--  <div class="row text-center">-->

<!--    &lt;!&ndash; Grid column &ndash;&gt;-->
<!--    <div class="col-lg-6 col-md-6">-->
<!--      &lt;!&ndash;Featured image&ndash;&gt;-->
<!--      <div class="view overlay rounded z-depth-1">-->
<!--        <img src="assets/images/officer.jpg" class="img-fluid" alt="Sample project image">-->
<!--        <a routerLink="/login">-->
<!--          <div class="mask rgba-white-slight"></div>-->
<!--        </a>-->
<!--      </div>-->
<!--      &lt;!&ndash;Excerpt&ndash;&gt;-->
<!--      <div class="card-body pb-0">-->
<!--        <h4 class="font-weight-bold my-3">Agricultural Officer</h4>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid column &ndash;&gt;-->

<!--    &lt;!&ndash; Grid column &ndash;&gt;-->
<!--    <div class="col-lg-6 col-md-6">-->
<!--      &lt;!&ndash;Featured image&ndash;&gt;-->
<!--      <div class="view overlay rounded z-depth-1">-->
<!--        <img src="assets/images/consumer.jpg" class="img-fluid" alt="Sample project image">-->
<!--        <a routerLink="/login">-->
<!--          <div class="mask rgba-white-slight"></div>-->
<!--        </a>-->
<!--      </div>-->
<!--      &lt;!&ndash;Excerpt&ndash;&gt;-->
<!--      <div class="card-body pb-0">-->
<!--        <h4 class="font-weight-bold my-3">Consumer Affairs Authority</h4>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<router-outlet></router-outlet>
