<div class="container" style="margin: 35px auto">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
  <div class="row">
    <div class="col text-center">
      <div class="section_title">
        <h2>Find The Best Crop For You to Grow</h2>
      </div>
      <div class="section_subtitle">
        You can find out the best crop to grow in order to get maximum income over tome. Please input <br /><br /> following
        information and click on find button to view results.
      </div>
      <br /><br />
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-12">

      <form [formGroup]="bestCropForm" (ngSubmit)="onSubmit()">
        <div class="row" style="margin-top: 50px">
          <div class="col-3">
            <label for="district" >District :</label>
          </div>
          <div class="col-9">
            <select class="form-control selectpicker" formControlName="districtName" id="district" (change)="getVillage($event)">
              <option value="">Choose District</option>
              <option *ngFor="let dis of districtList">{{dis}}</option>
            </select>
          </div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-3">
            <label for="village">Village :</label>
          </div>
          <div class="col-9">
            <select class="form-control selectpicker" formControlName="villageName" id="village">
              <option value="">Choose Village</option>
              <option *ngFor="let vig of villageList">{{vig}}</option>
            </select>
          </div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-3">
            <label for="cropStartDate">Date of Crop start :</label>
          </div>
          <div class="col-9">
            <div id="datepicker-group" class="input-group date" data-date-format="mm-dd-yyyy">
              <input type="date" class="form-control" id="cropStartDate" name="cropStartDate"
                     [ngModel]="cropStartDate | date:'yyyy-MM-dd'"  formControlName="cropStartDate">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-12">
            <input type="submit" value="Generate" class="btn btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
    <div class="col-lg-2"></div>
  </div>
</div>
