<div class="container">
  <!--Projects section v.1-->
  <section>

    <!--Section heading-->
    <h2 class="text-center h1 py-5" >
      <strong>{{'home.prediction_topic' | translate}}</strong>
    </h2>

    <!--    &lt;!&ndash;Section description&ndash;&gt;-->
    <!--    <p class="grey-text pb-5 text-center">simply amazing services</p>-->

    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <img src="assets/images/crop.jpg" class="img-fluid" alt="Sample project image">
          <a routerLink="/home/crop-prediction">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>


        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>{{'home.prediction_crop_yield' | translate}}</strong>
          </h4>
          <p class="grey-text">{{'home.prediction_crop_yield_des' | translate}}
          </p>

        </mdb-card-body>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="assets/images/yield.jpg" class="img-fluid" alt="Sample project image">
          <a routerLink="/home/best-crop">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>{{'home.prediction_best_crop' | translate}}</strong>
          </h4>
          <p class="grey-text">{{'home.prediction_best_crop_des' | translate}}
          </p>
        </mdb-card-body>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
          <img src="assets/images/weather.jpg" class="img-fluid" alt="Sample project image">
          <a routerLink="/home/weather">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>{{'home.prediction_weather_forecast' | translate}}</strong>
          </h4>
          <p class="grey-text">{{'home.prediction_weather_forecast_des' | translate}}
          </p>
        </mdb-card-body>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--/Projects section v.1-->

</div>
