.about_image img {
  max-width: 550px;
}
.object_bar img {
  max-width: 150px;
}

.margin_section {
  margin: 35px auto;
}

.team_image img{
  width: 250px;
  height: 325px;
}

.team_row {
  margin-top: 35px;
}
