<div class="about">
  <div class="container">
    <!--Section: Magazine v.2-->
    <section class="magazine-section my-5">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-5">A few words about us</h2>
    </section>
    <!--Section: Magazine v.2-->

    <div class="row about_row">
      <div class="col-lg-6">
        <div class="about_content">
          <div class="text_highlight">
            Sri Lanka, affectionately called as the pearl of the Indian Ocean, is a tear drop shaped island of 65,000sq KM
            surrounded by sparkling blue green sea. Moderate climate throughout the year, fertile soil,
            freely available ground water with fairly distributed river net work in most
            parts and two monsoons which bring rains for the two main cultivation seasons are the key ecological factors of the country.
          </div>
          <div class="about_text">
            <p>
              With these ideal conditions,  agriculture sector has always performed as a major economic force in Sri Lanka,
              making a significant contribution to the national economy, food security and employment. At the same time agriculture is
              the livelihood of the majority in the rural sector and plays a key role in alleviating rural poverty. This has been well recognized from
              the time of independence and there has always been a cabinet portfolio set aside for the agriculture sector.
              Ministry of  Agriculture  has realized this and is committed to make its utmost contribution to achieve its mission of bringing about
              prosperity through providing necessary guidance and co-ordination activities for sustainable development in Agriculture.
            </p>
          </div>
          <div class="button about_button"><a href="#">read more</a></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about_image"><img src="assets/images/aboutus_01.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>

<!-- Vision & Mission -->
<div class="container margin_section" style="text-align: center">
  <div class="col">
    <h2>Vision</h2>
    <div class="text_highlight">
      “A vibrant and dynamic agricultural sector for food security and national prosperity”
    </div>
  </div>

  <div class="col" style="margin-top: 50px">
    <h2>Mission</h2>
    <div class="text_highlight">
      “To achieve globally competitive production, processing and marketing enterprises through socially acceptable,
      innovative and commercially-oriented agriculture,
      through sustainable management of natural resources of the country”
    </div>
  </div>
</div>

<!-- Milestones -->

<div class="milestones">
  <div class="container">
    <div class="row object_bar">

      <!-- Milestone -->
      <div class="col-lg-3 milestone_col">
        <div class="milestone text-center">
          <div class="milestone_icon"><img src="assets/images/mountain.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="17">0</div>
          <div class="milestone_text">Projects</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-3 milestone_col">
        <div class="milestone text-center">
          <div class="milestone_icon"><img src="assets/images/island.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="213">0</div>
          <div class="milestone_text">Vacancies</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-3 milestone_col">
        <div class="milestone text-center">
          <div class="milestone_icon"><img src="assets/images/camera.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="11923">0</div>
          <div class="milestone_text">Action Plans</div>
        </div>
      </div>

      <!-- Milestone -->
      <div class="col-lg-3 milestone_col">
        <div class="milestone text-center">
          <div class="milestone_icon"><img src="assets/images/boat.svg" alt=""></div>
          <div class="milestone_counter" data-end-value="15">0</div>
          <div class="milestone_text">Budgets</div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Why Choose Us -->

<div class="margin_section">
  <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/images/why.jpg" data-speed="0.8"></div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_subtitle">simply amazing objectives</div>
        <div class="section_title"><h2>What are our Objectives</h2></div>
      </div>
    </div>
    <!-- Why item -->
    <div class="list-group" style="text-align: center; margin-top: 50px">

      <p class="list-group-item list-group-item-action list-group-item-primary">Supportive agricultural policy for food and allied agricultural crops.</p>
      <p class="list-group-item list-group-item-action list-group-item-secondary">Established food and nutrition security.</p>
      <p class="list-group-item list-group-item-action list-group-item-success">Stable prices for agricultural products.</p>
      <p class="list-group-item list-group-item-action list-group-item-success">Efficiently coordinated paddy purchasing and marketing programme.</p>
      <p class="list-group-item list-group-item-action list-group-item-success">Timely implementation of projects.</p>
      <p class="list-group-item list-group-item-action list-group-item-success">Increase production in selected crops.</p>
      <p class="list-group-item list-group-item-action list-group-item-success">Efficient and effective implementation of accelerated food production programme.</p>
      <p class="list-group-item list-group-item-action list-group-item-success">Efficient and effective use of foreign funds.</p>
    </div>
  </div>
</div>

<!-- Team -->

<div class="team margin_section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_subtitle">simply amazing members</div>
        <div class="section_title"><h2>Meet the Staff</h2></div>
      </div>
    </div>
    <div class="row team_row">

      <!-- Team Item -->
      <div class="col-xl-3 col-md-6 team_col">
        <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
          <div class="team_image"><img src="assets/images/person_01.jpg" alt=""></div>
          <div class="team_content">
            <div class="team_title"><a href="#">Hon. P. Harrison</a></div>
            <div class="team_text">
              <p>
                Minister of Agriculture, Rural Economic Affiairs, Livestock Development, Irrigation
                and Fisheries and Aquatic Resources Development
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Item -->
      <div class="col-xl-3 col-md-6 team_col">
        <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
          <div class="team_image"><img src="assets/images/person_02.jpg" alt=""></div>
          <div class="team_content">
            <div class="team_title"><a href="#">Hon. Wasantha Aluvihare</a></div>
            <div class="team_text">
              <p>
                State Minister of Agriculture, Irrigation and Rural Economic Affairs
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Item -->
      <div class="col-xl-3 col-md-6 team_col">
        <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
          <div class="team_image"><img src="assets/images/person_03.jpg" alt=""></div>
          <div class="team_content">
            <div class="team_title"><a href="#">Hon. Ameer Ali</a></div>
            <div class="team_text">
              <p>
                State Minister of Agriculture, Irrigation and  Rural Economic Affairs.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Item -->
      <div class="col-xl-3 col-md-6 team_col">
        <div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
          <div class="team_image"><img src="assets/images/person_04.jpg" alt=""></div>
          <div class="team_content">
            <div class="team_title"><a href="#">Mr.K.D.S.Ruwanchandra</a></div>
            <div class="team_text">
              <p>
                Secretary of Agriculture, Rural Economic Affairs, Livestock Development, Irrigation
                and Fisheries and Aquatic Resources Development
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
